@import "tailwindcss";

@import "primeicons/primeicons.css";

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #202529;
  --color-secondary: #394952;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.p-inputtext {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0) !important;
}

.p-inputtext:focus,
.p-inputtext:hover {
  border-color: var(--color-primary);
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #202529;
}

*::-webkit-scrollbar-track:hover {
  background-color: #202529;
}

*::-webkit-scrollbar-track:active {
  background-color: #202529;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #394952;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4c616d;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #394952;
}
